/* Flexbox container for the entire website */
body{
    overflow-x: hidden;
}
.grid-container {
    display: grid;
}

.grid-container-branding {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: auto auto;
}
html {
    /*For smooth scrolling behavior*/
    scroll-behavior: smooth;
}

/* #home,
#about,
#services,
#porttfolio,
#blog,
#contact{
    height: 70vh;
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
} */









