/* Global Body styles */
body {
    /* padding-top: 70px; Adjust this value based on the height of your navbar */
    background-color: hsl(0, 0%, 95%);
}

.active{
    background-color: hsl(0, 0%, 90%);
}

#navigation .navbar-nav .nav-link{
    color:hsl(0, 0%, 0%);
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the navbar stays on top of other elements */
    background-color: white; /* Or any color of your choice */
    background: radial-gradient(circle at center, #eeeff0, #f1f4f7); /* Example gradient */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Code Pro', monospace;
}

a {
    text-decoration: none;
}

a:hover {
    color: #e74c3c;
}


#home {
    margin-top: 100px;
    text-align: center;
}

#home h1 {
    font-size: 48px;
    /* margin-bottom: 20px; */
}

#home p {
    font-size: 24px;
    /* margin-bottom: 20px; */
}


